/* styles.css */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.card img {
  width: 100%;
  height: 200px; /* يمكن تعديلها حسب الحاجة */
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.card p {
  margin: 10px 0;
  line-height: 1.5;
}  
  .delete-button {
    background:  transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding:  10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;

    }
  
  .update-button {
    background:  transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding:  10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;

  }
  form {
    background-color: #ffffff; /* لون خلفية للفورم */
    border: 2px solid #4CAF50; /* حدود للفورم */
    border-radius: 10px; /* زوايا دائرية */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* ظل */
    padding: 20px;
    width: 300px;
    text-align: center;
}
form h2 {
    color: #4CAF50; /* لون النص الرئيسي */
    margin-bottom: 20px;
}
form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}