.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 5%;
    transition: 0.5s;
    font-size: 16px;
}

.logo-icon {
    width: 150px; /* عرض الشعار المصغر */
    cursor: pointer;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.toggle-icon {
    width: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.search-box {
    display: flex;
    height: 40px; /* تقليل الارتفاع */
    width: 250px; /* زيادة العرض */
    align-items: center;
    justify-content: space-between; /* محاذاة المحتوى بالتساوي */
    background: #242424;
    padding: 0 10px; /* ضبط الحشو */
    border-radius: 25px; /* تقليل الانحناء */
}

.search-box input {
    flex: 1; /* لجعل الإدخال يملأ المساحة المتبقية */
    padding: 8px; /* تقليل الحشو داخل الإدخال */
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 14px; /* تصغير حجم النص */
    text-align: left; /* محاذاة النص placeholder لليسار */
}

.search-box input::placeholder {
    text-align: center;
    color: #fff;
    font-size: 14px; /* تصغير حجم النص placeholder */
    font-weight: normal; /* إزالة الوزن العريض */
}

.search-box img {
    width: 16px; /* تقليل حجم الأيقونة */
    height: 16px; /* تقليل ارتفاع الأيقونة */
    fill: #fff; /* الحفاظ على اللون */
}

.dark .navbar {
    background: #000;
    color: #fff;
}

.dark .search-box {
    background: #fff; /* لون خلفية داكن يتناسب مع التصميم */
    color: #fff; /* لون النص في مربع البحث */
    display: flex; /* لضبط توزيع المحتوى */
    align-items: center; /* توسيط عمودي للعناصر */
    border-radius: 25px; /* ضبط الزوايا */
    height: 40px; /* تعديل الارتفاع */
    width: 250px; /* ضبط العرض */
    padding: 0 15px; /* تحسين الحشو الداخلي */
}

.dark .search-box input {
    flex: 1; /* جعل الإدخال يملأ المساحة المتاحة */
    background: transparent; /* خلفية شفافة */
    color: #fff; /* لون النص */
    border: none; /* إزالة الحدود */
    outline: none; /* إزالة تأثير التركيز */
    font-size: 16px; /* حجم النص */
    text-align: left; /* محاذاة النص لليسار */
    padding: 0; /* إزالة أي حشو إضافي */
}

.dark .search-box input::placeholder {
    color: #aaa; /* لون واضح للـ placeholder */
    opacity: 1; /* تأكد من ظهور النص بشكل واضح */
}

.dark .search-box img {
    fill: #ffff; /* لون أيقونة البحث */
    width: 16px; /* حجم الأيقونة */
    height: 16px; /* حجم الأيقونة */
}
