* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
form {
    background-color: #ffffff; /* لون خلفية للفورم */
    border: 2px solid #4CAF50; /* حدود للفورم */
    border-radius: 10px; /* زوايا دائرية */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* ظل */
    padding: 20px;
    width: 300px;
    text-align: center;
}
form h2 {
    color: #4CAF50; /* لون النص الرئيسي */
    margin-bottom: 20px;
}
form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049; 
}
